<h3><%= @participant.name %></h3>
<%= link_to "Back", participants_path, class: "btn btn-large btn-secondary" %>
<table class="table table-striped">	 
	 <thead>
			<tr>
				 <th>Attribute</th>
				 <th>Value</th>
			</tr>
	 </thead>
	 <tbody>
			<tr>
				 <th>Name</th>
				 <td><%= @participant.name %></td>
			</tr>
			<tr>
				 <th>Points</th>
				 <td><%= @participant.points %></td>
			</tr>
			<tr>
				 <th>Won</th>
				 <td>??? times</td>
			</tr>
	 </tbody>
</table>